name: tgtools

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2
      - name: Lint with pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Install dependencies
        run: poetry install --no-dev
      - name: Install dependencies tests
        run: poetry install
      # - name: Run tests
      #   run: poetry run pytest
